@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,400;0,700;0,800;0,900;1,600&display=swap');
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

 :root {
    --font: 'Overpass', sans-serif;
    --lightChocolate: antiquewhite;
    --chocolate: burlywood;
    --darkChocolate: #582f0e;
    --thumbBG: #a68a64;
    --scrollbarBG: rgba(0, 0, 0, 0.029);
}

html {
    font-size: 100%;
}

body {
    width: calc(100vw - (100vw - 100%));
    line-height: 1.75;
    font-weight: 400;
    font-family: var(--font);
    color: #212121;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Firefox */

input[type=number] {
    -moz-appearance: textfield;
}

h1 {
    margin-top: 0;
    font-size: 4.209rem;
}

h2 {
    font-size: 3.157rem;
}

h3 {
    font-size: 2.369rem;
}

h4 {
    font-size: 1.777rem;
}

h5,
label {
    font-size: 1.333rem;
}

small,
.text_small {
    font-size: 0.75rem;
}

.screen {
    height: 100vh;
    display: flex;
}

.details-section {
    width: 40%;
    height: 100%;
    background-color: var(--lightChocolate);
    padding: 1rem 5%;
    display: flex;
    flex-direction: column;
}

.solution-table {
    width: 100%;
}

.details-section table {
    width: 100%;
    font-size: 1.333rem;
}

.tables::-webkit-scrollbar {
    width: 11px;
}

.tables {
    width: 100%;
    height: 90%;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

.tables::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}

.tables::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG);
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
}

thead {
    font-weight: 600;
}

.tables>div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tables>div:hover {
    background-color: rgba(0, 0, 0, 0.133) !important;
    cursor: pointer;
}

.tables>div:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.37);
}

.tables .pos {
    width: 80%;
}

.tables .fitness {
    width: 20%;
}

.tables>div {
    padding: .5rem;
}

.inputs {
    margin-bottom: 1rem;
}

.inputs div:not(:last-of-type) {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inputs input {
    width: 50%;
    padding: .5rem;
    font-size: 1.333rem;
    font-family: var(--font);
    outline: none;
    border: none;
    background-color: rgba(255, 255, 255, 0.623);
}

.inputs div:first-of-type input {
    width: 4rem;
}

.inputs div:not(:first-of-type) {
    margin-top: 1rem;
}

.board-section {
    flex: 1;
    height: 100%;
    background-color: var(--chocolate);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.board-section .title {
    align-self: flex-start;
    margin-left: 15%;
    color: var(--darkChocolate);
}

.board {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.item {
    position: relative;
}

.item:before {
    content: attr(data-before);
    position: absolute;
    left: .2rem;
    top: .2rem;
    opacity: .3;
}

.item.black {
    background-color: #a4ac86;
}

.item.white {
    background-color: #c2c5aa;
}

.item.queen {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url("https://images.chesscomfiles.com/chess-themes/pieces/neo/150/wq.png");
}

.start {
    background-color: var(--darkChocolate);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    transition: filter .3s;
}

.start:hover {
    cursor: pointer;
    filter: brightness(120%);
}

.start:active {
    filter: brightness(80%);
}

.start p {
    font-family: var(--font);
    color: #fff;
}